<div class="row">
	<div class="span12 text-center">
		<h1>My Clonemarks</h1>
	</div>
</div>
<% @topics.each do |topic| %>
	<% bookmarks = topic.bookmarks.desc.select {|bookmark| bookmark.user == current_user } %>
	<% if bookmarks.any? %>
		<div class="row">
			<div class="span12">
				<h3><%= link_to topic.name, topic %></h3>
			</div>
			<div class="row">
				<div class="span12 down40">
					<% bookmarks.each do |bookmark| %>
						<div class="span2">
							<div class="urlbox">
								<div class="text-center">
									<%= link_to bookmark.url, "http://#{bookmark.url}" %>
								</div>
							</div>
							<div class="text-center">
								<%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
<div class="row">
	<div class="span12 text-center">
		<h1>Liked Clonemarks</h1>
	</div>
</div>
<% @topics.each do |topic| %>
	<% likes = current_user.likes.select { |like| like.bookmark.topic == topic } %>
	<% if likes.any? %>
		<div class="row">
			<div class="span12">
				<h3><%= link_to topic.name, topic %></h3>
				<% likes.each do |like| %>
					<div class="span2">
						<div class="urlbox">
							<div class="text-center">
								<%= link_to like.bookmark.url, "http://#{like.bookmark.url}" %>
							</div>
						</div>
						<div class="text-center">
							<%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>